.signup-form {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 40px;
}

.bookings button {
  background-color: #AEDEFC !important;
  border: 1px solid rgb(174,222, 252);
}

#calendar{
  width: 100%;
  height: 100%;
}