* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  position: relative;
  background-color: white !important;
  color: black !important;
  font-family: sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.App {
  text-align: center;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.sucess {
  color: green;
}

p.danger {
  color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* NavBar */
#navbar {
  padding: 2.5rem;
  padding-left: 0.2rem;
  color: black !important;
  background-color: #ffdfdf !important;
  height: 85px;
  font-size: 20px;
}

.me-auto link {
  margin: 2.5rem;
}

.me {
  margin: 1.5rem;
  font-size: 23px;
  text-decoration: none;
}
